<main class="content">
	<header class="page-header">
		<h1 class="page-header__title">El juego del ahorcado</h1>
	</header>
	<div class="hangman-board">
		<img class="hangman-board__icon" [src]="hangmanImage" alt="hangman image" />
		<div class="hangman-used-letters">
			<span class="hangman-used-letters__letter" *ngFor="let letter of wrongLetters">{{ letter }}</span>
		</div>
	</div>
	<section class="hangman-hint">
		<h2 class="hangman-hint__heading">Pista</h2>
		<p class="hangman-hint__text">
			{{ hint }}
		</p>
	</section>
	<div class="hangman-game">
		<div class="hangman-game__word-space" *ngFor="let letter of correctLetters">{{ letter }}</div>
	</div>
	<form class="hangman-form" (ngSubmit)="onSubmit()">
		<input class="hangman-form__input" [formControl]="inputController" type="text" #input />
		<button
			class="hangman-form__submit-btn"
			type="submit"
			[disabled]="inputController.invalid || isGameOver()"
		>
			Probar letra
		</button>
	</form>
</main>
